.connection__header {
  background-color: #337AB7;
  padding:16px 16px;
  color:#FFF;
  border-bottom:2px dashed #337AB7;
  height: 50px;
  overflow: hidden;
}

.pre{
  color:#FFF;
}

p{
  color:#FFF;
}

#result{
  color:#FFF;
}

ux-dialog-header{
  border-radius: 10px 10px 0px 0px
}

ux-dialog{
  border-radius: 15px;
}

.connection__body {
  background-color: black; 
  color:white;
  overflow: hidden;
  width: 600px;
  height: 300px;
  overflow-y: scroll;
}
